.main-page-container{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.left-container{
    width: 10%;
    max-width: 80px;
    background-color: #181126;
    display: flex;
}
.left-icons-container{
    display: flex;
}
.middle-container{
    flex: 1;
    background-color: #120E1C;
}
.right-container{
    flex: 1.7;
    background-color: #1B1429;
}